<!DOCTYPE HTML>
<html>

<head>
  <title>Flask_Application - Contact us</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="../static/style.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
         <h1><a href="index.html"style="font-family: Lucida Calligraphy">Flask<span class="logo_colour">&nbsp;Application</span></a></h1>
          <br><h2 style="font-family: Lucida Calligraphy"> WebApplication</h2></div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
           <li><a href="index.html"style="font-family: Lucida Calligraphy">Login</a></li>
          <li><a href="page.html"style="font-family: Lucida Calligraphy">Query</a></li>
          <li><a href="another_page.html"style="font-family: Lucida Calligraphy">SignUP</a></li>
          <li><a href="contact.html"style="font-family: Lucida Calligraphy">Contact Us</a></li>
         </div>
    </div>

      <div id="content">
        
       
        
      </div>
    </div>
    <div id="footer">
      Copyright Flask Solutions Pvt. Ltd
  </div>
</body>
</html>
